<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tabprayer">
            <ion-icon name="time"></ion-icon>
            <ion-label>Prayer</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tabnews">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>News</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tabmap">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tabprofile">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
